bin/

/ssl-cert
/NOTES.*

/*.s3
/server.*
/*.pdf
/*.gv
/*.csv

/*.dump
/db/redis
/db/pg-data/
/db/data-*
.DS_*
/.DS_*

/.env
/.env*

/*_keys

/public/uploads
/public/assets
/public/source_maps

/.rvmrc
/.bundle

/db/*.sqlite3
/db/test*
/db/pg-*

/log/*.log

/tmp
/doc/notes

/.project

/ruby-gemset*
/ruby-version*

/mytools
