.flows
  %ul
    - if @flow.present? and @flow.new_record?
      %li.flow.editable
        = render "flow", flow: @flow

    - (@flows || flows).each do |flow|
      %li.flow{class: (flow==@flow ? "editable" : "")}
        =render flow, flow: flow
