@import "colors"

.flows-tools
  line-height: 20px
  height: 20px
  display: block

  a
    display: inline-block
    height: 20px
    line-height: 20px
    background-position: left center
    background-size: 16px
    text-indent: 20px
    background-repeat: no-repeat
  a.flow_new
    background-image: asset-url('plus.png')

.flows ul, .flows ul li
  list-style: none
  margin: 0px
  padding: 0px

.flows .flow
  .bar
    display: block
    position: relative

    &.sharing
      height: 20px
      line-height: 20px
      display: block
      .flow_access
        display: inline-block
        height: 20px
        line-height: 20px
        position: relative
        padding-left: 25px

        img
          width: 20px
          position: absolute
          left: 0px

  &.can_edit
    border-right: 5px solid orange


