@import "colors"

@media only screen and (max-width: 600px)
  .flows
    .bar
      margin-bottom: 10px

    .flow
      .bar.sharing
        .flow_access_name
          display: none

      .step
        display: block
        width: 100%

        .ce-wrap
          padding: 5px
          margin-bottom: 5px

        .step_image
          padding: 3px

