!!!
%head
  = render "layouts/header"

%body.public
  %header
    .wrap
      =link_to "FlowShare", root_url, class: "logo"

  .content
    .wrap
      .live
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
        = yield



