!!!
%head
  %title FlowShare
  %meta{charset: "utf-8"}/

  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}/

  -#
    <meta name=viewport
    content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
    <meta name="viewport" content="target-densitydpi=device-dpi">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  %header
    .wrap
      =link_to "FlowShare", root_path, class: "logo"

      .who
        =link_to "Oto Brglez"
        |
        =link_to "Settings"

  %nav
    .wrap
      %ul
        %li=link_to "+ New Flow", [:new, :flow], remote: true, class: "new-flow"
        %li=link_to "My Flows", [:flows], class: "active"

  .content
    .wrap
      .live
        = yield

  %footer
    .wrap
      %ul
        %li=link_to raw("&copy;")+" 2014 - Fika, Inc"


